//resets
html, body {
	line-height: 1rem;
	font-size: 100%;
}

footer, header, main, html, body, input, textarea, .ct-cont, .container, .content  {
	width: 100%;
}

html, body, .ct-cont, .container, .content {
	height: 100%;
}

main {
	min-height: 100%;
}

input[type=checkbox], input[type=radio], .logo {
	width: 15px;
	height: 15px;
}

html, body, h1, h2, h3, h4, h5, h6, .reset {
	margin: 0; 
	padding: 0;
}

label {
	font-weight: normal;
}

b, strong, .bld {
	font-weight: bold;
}

ul, ol {
	list-style: none;
}

button, input, textarea, button:hover, button:focus, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .pagination {
	background-color: transparent;
	box-shadow: none;
}

.nav-tabs, button, input, textarea, button:hover, button:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
	border: none;
}

input, textarea, li:focus, :focus {
	outline: none;
}

a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}

.container, .content, a, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

.container, .content{
	margin: auto;
}

main, .container, .content {
	position: relative; 
}

.ctY, .ctX, .ctXY, .obt {
	position: absolute; 
}

.ctY {
	top: 50%;
	transform: translateY(-50%);
}

.ctX {
	left: 50%;
	transform: translateX(-50%);
}

.ctXY {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ct-cont {
	display: table;
}

.ct-obg { 
	vertical-align: middle;
	display: table-cell;
}

.hidden {
	overflow: hidden;
}

input {
	height: 40px;
}







