//variables
$white: #FFFFFF;
$neoWhite: #F3F3F3;
$black: #000000;
$cyan: #60daaa;
$red: #f45e61;
$grey: #B5B5B5;
$darkGreen: #2d7c58;
$neoGrey: #c1c1c1;
$green: #4fc08d;
$rose: #E8CBC0;
$strangeBlue: #636FA4;

//comum style
.message-title {
	text-align: center;
	margin-bottom: 1em;
}

.message, .pudim-blush, .btn-animated, .pudim.form, .pudim-svg {
	margin: auto;
	display: block;
}

.pudim-svg, .btn-animated {
	vertical-align: middle;
}

.pudim-svg, .btn-animated, .btn-submit, .pudim-list-item, .pudim-ranking {
	position: relative;
}

.pudim-list-remove {
	float: left;
}

.ranking-data-item, .total-votes {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ranking-data-list {
	padding: 10px;
}

.form.container {
	padding: 30px;
}

.btn-filter {
	margin-bottom: 5px;
}

.btn-submit, .pudim-list {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-animated, .btn {
	background: none;
}

.search-input, .btn {
	border-radius: 2em;
}

.message, .btn-animated a {
	color: $red;
}

::-webkit-scrollbar-track, scrollbar::hover::-webkit-scrollbar-track {
	background-color: $neoWhite; 
}

::-webkit-scrollbar {
	width: 5px;
	background: $neoWhite; 
}

scrollbar::hover::-webkit-scrollbar {
	width: 5px;
	background: $neoWhite; 
}

::-webkit-scrollbar-thumb {
	background: $neoGrey;
	border-radius: 2px; 
}

scrollbar::hover::-webkit-scrollbar-thumb {
	background: $neoGrey;
	border-radius: 2px; 
}

//pudim-list
.pudim-ranking, .form, .form.container, .form.container input, .ranking-data-item, .total-votes {
	width: 100%;
}

.close {
	width: 10%;
	right: 10px;
}

.pudim-ranking {
	background: $rose;
	background: -webkit-linear-gradient(to left, $rose, $strangeBlue);
	background: linear-gradient(to left, $rose, $strangeBlue); 
	height: 100%;
}

.form {
	max-width: 600px;
	border-radius: 10px;
	background-color: $white; 
}

.form.container input {
	padding: 0.75em 1.5em;
	border: 1px solid $grey;
	transition: border 250ms ease-out; 
}

.form.container input:focus {
	border: 1px solid $green;
}

.btn {
	font-size: 14px;
	padding: 0.75em 1.5em;
	color: $darkGreen;
	letter-spacing: 1px;
	color: $green;
	border: 1px solid $green;
	transition: 250ms ease-out; 
}

.btn:hover, .btn:focus {
	color: $white;
	background: $green; 
}

.btn, .btn:hover, .btn:focus {
	border: 1px solid $green;
}

.btn-submit {
	width: 25%;
}

.pudim-list {
	max-height: 200px;
	overflow-y: scroll; 
	padding-left: 10px;
}

//pudim-intro
.message {
	max-width: 50%;
}

.btn-animated {
	border: 0;
	box-sizing: border-box;
	padding: 1em 2em;
	box-shadow: inset 0 0 0 2px $red;
	font-weight: 700;

	&::before, &::after {
		box-sizing: inherit;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.btn-cyan {
	transition: color 0.25s;

	&::before, &::after {
		border: 2px solid transparent;
		width: 0;
		height: 0;
	}

	&::before {
		top: 0;
		left: 0;
	}

	&::after {
		bottom: 0;
		right: 0;
	}

	&:hover {
		a {
			color: $cyan;
		}
	}

	&:hover::before,  &:hover::after {
		width: 100%;
		height: 100%;
	}

	&:hover::before {
		border-top-color: $cyan; 
		border-right-color: $cyan;
		transition:
		width 0.25s ease-out, 
		height 0.25s ease-out 0.25s; 
	}

	&:hover::after {
		border-bottom-color: $cyan; 
		border-left-color: $cyan;
		transition:
		border-color 0s ease-out 0.5s,
		width 0.25s ease-out 0.5s, 
		height 0.25s ease-out 0.75s; 
	}
}

.pudim-svg {
	max-height: 400px;
}

.pudim-body {
	animation: pushUp 1s ease-in alternate infinite;
	transform-origin: bottom center; 
}

@keyframes pushUp {
	0% {
		transform: scale(1);
		transform: rotate(1deg); 
	}

	100% {
		transform: scale(2);
		transform: rotate(-1deg); 
	} 
}

.pudim-blush {
	animation: blush 4s ease-out alternate infinite;
	transform-origin: top center;
	animation-delay: 2s; 
}

@-webkit-keyframes blush {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	}
}

@keyframes dash {
	from {
		opacity: 0; 
	}
	to {
		opacity: 1; 
	} 
}

@media (max-width: 620px) {
	.pudim-list {
		max-height: 160px;
	}
}


